In [1]:
import pandas as pd

In [2]:
data = pd.read_json('all.json')
history = data[data.genre == 'history']
history['par_num'] = [i for i in range(1, len(history)+1)]

/tmp/ipykernel_1251871/3488037551.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  history['par_num'] = [i for i in range(1, len(history)+1)]

In [3]:
bursts = pd.read_csv('extracted_bursts_full.csv')
bursts_ = bursts[['full_paragraph_number', 'burst_len']]
bursts_['full_paragraph_number'] = bursts_['full_paragraph_number'] + 1
starting_paragraph = list(bursts_['full_paragraph_number'])
burst_len = list(bursts_['burst_len'])

interesting_paragraphs = []
for s, l in zip(starting_paragraph, burst_len):
    interesting_paragraphs.extend([s + i for i in range(l)])

/tmp/ipykernel_1251871/903065517.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bursts_['full_paragraph_number'] = bursts_['full_paragraph_number'] + 1

In [40]:
bursts[['chapter', 'add_to_paragraph_number']]

     chapter  add_to_paragraph_number
0          I                        0
1          I                        0
2          I                        0
3          I                        0
4          I                        0
...      ...                      ...
1592    LXXI                     4006
1593     LXI                     4006
1594     LXI                     4006
1595   LXIII                     4006
1596    LXXI                     4006

[1597 rows x 2 columns]

In [67]:
bursts[bursts.chapter=='XXXVIII'][['chapter', 'add_to_paragraph_number']]

     chapter  add_to_paragraph_number
622  XXXVIII                     2245
623  XXXVIII                     2245
624  XXXVIII                     2245
630  XXXVIII                     2245
641  XXXVIII                     2245
649  XXXVIII                     2245
660  XXXVIII                     2245
672  XXXVIII                     2245
673  XXXVIII                     2245
675  XXXVIII                     2245
676  XXXVIII                     2245
691  XXXVIII                     2245
713  XXXVIII                     2245
741  XXXVIII                     2245
744  XXXVIII                     2245
745  XXXVIII                     2245
754  XXXVIII                     2245

In [5]:
eh = pd.read_json('hume_json/essays_in_history.json')
joined = eh.set_index('text').join(history.set_index('text'), lsuffix='_eh', rsuffix='_his')

In [68]:
# from g sheets
fixed = [259, 239, 656, 649, 651, 660, 2730, 17, 1, 485, 3997, 3639,
3653,
4138,
352,
373,
427,
621,
709,
2980,
3008,
1308,
1459,
1496,
1499,
1486,
1739,
1730,
1616,
2194,
2246,
2260]

In [74]:
a = set(joined['par_num'].dropna()) | set(fixed)
b = len(a & set(interesting_paragraphs))
c = len(set(interesting_paragraphs))
print(f'Number of eh paragraphs: {len(a)}')
print(f'Number of eh paragraphs in extracted: {b}')
print(f'Acc: {b/len(a):.2f}')
print(f'Number of extracted paragraphs: {c}')

Number of eh paragraphs: 66
Number of eh paragraphs in extracted: 54
Acc: 0.82
Number of extracted paragraphs: 1727